.Rproj.user
.Rhistory
.RData
.Ruserdata
job.R
job2.R
.bash_profile
.run_script.sh
./code/00_euler_config.R
master_virtual_proportions.R
master_virtual.R
*.csv
*.txt
*.feather
*.grd
*.gri
*.nc
*.p
*.ipynb
*.zip
*.pdf
*.png
*.jpg
data/*
!data/.gitkeep
prototype/*
output/*
!output/.gitkeep

